header.header(data-aos="flip-down", data-aos-delay="300")
	.layout__inner
		.definition.js-nav
			.head
				a(href="#first" ).logo
					img(src='static/img/logo.svg', alt='logo')
				.select.js-select
					.select__text.js-select-text
						img(src='static/img/flag-ua.jpg', alt='ua')
						span Укр
					input(type="hidden", value="").js-select-input
					ul.select__list.js-select-list
						li(data-id="0")
							img(src='static/img/flag-ru.jpg', alt='ru')
							span рус
						li(data-id="1")
							img(src='static/img/flag-en.png', alt='en')
							span en
			nav.navigate
				ul.menu
					li.menu__list(data-aos="zoom-in", data-aos-delay="350")
						a(href="#second").menu__link Статьи
					li.menu__list(data-aos="zoom-in", data-aos-delay="400")
						a(href="#third").menu__link.red_item С к и д к и
							span  %
					li.menu__list(data-aos="zoom-in", data-aos-delay="450")
						a(href="#fourth").menu__link Мнение домовладельцев
					li.menu__list(data-aos="zoom-in", data-aos-delay="500")
						a(href="#fifth").menu__link Преимущества
					li.menu__list(data-aos="zoom-in", data-aos-delay="550")
						a(href="#sixth").menu__link Ассортимент
					li.menu__list(data-aos="zoom-in", data-aos-delay="600")
						a(href="#seventh").menu__link Контакты