-var list = [{item: {class: 'is_active', pic: '<i class="cutting__pic icon-cut-01"></i>', title: 'Аккорд'}}, {item: {pic: '<i class="cutting__pic icon-cut-02"></i>', title: 'соната'}}, {item: {pic: '<i class="cutting__pic icon-cut-03"></i>', title: 'брикс'}}, {item: {pic: '<i class="cutting__pic icon-cut-04"></i>', title: 'бобровый хвост'}}, {item: {pic: '<i class="cutting__pic icon-cut-05"></i>', title: 'трио'}}, {item: {pic: '<i class="cutting__pic icon-cut-06"></i>', title: 'вестерн'}}, {item: {pic: '<i class="cutting__pic icon-cut-07"></i>', title: 'драконий зуб'}}, {item: {pic: '<i class="cutting__pic icon-cut-08"></i>', title: 'континент'}}];




section.section.bg-dark
	h4.section__title(data-aos="fade-up", data-aos-offset="100") Ассортимент
	.layout__inner
		.clear
			.cutting(data-aos="fade-right", data-aos-offset="200")
				.cutting__header
					p.cutting__title Формы нарезки черепицы
				ul.cutting__list
					each cuts, index in list
						if cuts.item.class
							li.cutting__item.is_active(data-id='slider' + index)
								span.cutting__img
									#{cuts.item.pic}
								p.cutting__desc #{cuts.item.title}
						else
							li.cutting__item(data-id='slider' + index)
								span.cutting__img
									#{cuts.item.pic}
								p.cutting__desc #{cuts.item.title}
			.assort(data-aos="fade-left", data-aos-offset="200")
				.assort__wrap
					include ../slider/akkord.pug
					include ../slider/sonata.pug
					include ../slider/briks.pug
					include ../slider/bobroviy_hvost.pug
					include ../slider/trio.pug
					include ../slider/vestern.pug
					include ../slider/drakon_zub.pug
					include ../slider/kontinent.pug
		.calculate
			a(href="#").calculate__btn
				i.icon-calc
				span Рассчитать количество материала
			a(href="#").calculate__btn
				i.icon-house
				span Подобрать черепицу на модели дома
