section.map
	.layout
		h3.section__title.mod_noul Где купить?
			<br>
			a(href="#").cupon-top-link Получить купон на скидку 10%
		.affiliate
			.affiliate__item
				.affiliate__scroll
					.affiliate__header
						img(src="static/img/budiva.jpg", alt="")
					.affiliate__content
						h6.affiliate__title
							a(href="#") ООО «БУДИВА»
						p Днепропетровск, ул. Горького, 22
						p
							a(href="mailto:dnepr@budiva.ua") dnepr@budiva.ua
						p
							a(href="budiva.ua") budiva.ua
						p +38 (056) 790-03-09
						p +38 (067) 370-18-02
			.affiliate__item.affiliate-dubl
				.affiliate__scroll
					.affiliate__content
						h6.affiliate__title
							a(href="#") ООО «РКЦ-Буд»
						p Днепропетровск, пр. Гагарина, 90
						p
							a(href="dnepr@rkc.biz.ua") dnepr@rkc.biz.ua
						p
							a(href="rkcbud.com.ua") rkcbud.com.ua
						p
							a(href="e-cottage.dp.ua") e-cottage.dp.ua
						p +38 (067) 636-76-49
						p +38 (067) 636-83-43
						p +38 (067) 633-60-17
						p +38 (067) 636-83-43
						p +38 (067) 633-60-17
				.affiliate__scroll
					.affiliate__content.affiliate-filial
						.affiliate__heading
							strong ФИЛИАЛЫ
						a(href="#").affiliate__box
							h6.affiliate__title Заблоцкий Андрей
							p Гомель
							p 127-38-20
						a(href="#").affiliate__box
							h6.affiliate__title ИП Войтехович
							p Минск
						a(href="#").affiliate__box
							h6.affiliate__title Заблоцкий Андрей
							p Гомель
							p 127-38-20
						a(href="#").affiliate__box
							h6.affiliate__title ИП Войтехович
							p Минск
			.affiliate__item
				.affiliate__scroll
					.affiliate__content
						h6.affiliate__title
							a(href="#") ООО «А-СТ»
						p Днепр, пр.им.газеты "Правда", 27
						p
							a(href="mailto:st_dnepr@ukr.net") ast_dnepr@ukr.net
						p +38 (056) 373-25-79
						p +38 (056) 373-25-88
						p +38 (056) 373-25-89
			.affiliate__item
				.affiliate__scroll
					.affiliate__header
						img(src="static/img/budiva.jpg", alt="")
					.affiliate__content
						h6.affiliate__title
							a(href="#") ООО «БУДИВА»
						p Днепропетровск, ул. Горького, 22
						p
							a(href="mailto:dnepr@budiva.ua") dnepr@budiva.ua
						p
							a(href="budiva.ua") budiva.ua
						p +38 (056) 790-03-09
						p +38 (067) 370-18-02
			.affiliate__item.affiliate-dubl
				.affiliate__scroll
					.affiliate__content
						h6.affiliate__title
							a(href="#") ООО «РКЦ-Буд»
						p Днепропетровск, пр. Гагарина, 90
						p
							a(href="dnepr@rkc.biz.ua") dnepr@rkc.biz.ua
						p
							a(href="rkcbud.com.ua") rkcbud.com.ua
						p
							a(href="e-cottage.dp.ua") e-cottage.dp.ua
						p +38 (067) 636-76-49
						p +38 (067) 636-83-43
						p +38 (067) 633-60-17
						p +38 (067) 636-83-43
						p +38 (067) 633-60-17
				.affiliate__scroll
					.affiliate__content.affiliate-filial
						.affiliate__heading
							strong ФИЛИАЛЫ
						a(href="#").affiliate__box
							h6.affiliate__title Заблоцкий Андрей
							p Гомель
							p 127-38-20
						a(href="#").affiliate__box
							h6.affiliate__title ИП Войтехович
							p Минск
						a(href="#").affiliate__box
							h6.affiliate__title Заблоцкий Андрей
							p Гомель
							p 127-38-20
						a(href="#").affiliate__box
							h6.affiliate__title ИП Войтехович
							p Минск
			.affiliate__item
				.affiliate__scroll
					.affiliate__content
						h6.affiliate__title
							a(href="#") ООО «А-СТ»
						p Днепр, пр.им.газеты "Правда", 27
						p
							a(href="mailto:st_dnepr@ukr.net") ast_dnepr@ukr.net
						p +38 (056) 373-25-79
						p +38 (056) 373-25-88
						p +38 (056) 373-25-89
			.affiliate__item
				.affiliate__scroll
					.affiliate__header
						img(src="static/img/budiva.jpg", alt="")
					.affiliate__content
						h6.affiliate__title
							a(href="#") ООО «БУДИВА»
						p Днепропетровск, ул. Горького, 22
						p
							a(href="mailto:dnepr@budiva.ua") dnepr@budiva.ua
						p
							a(href="budiva.ua") budiva.ua
						p +38 (056) 790-03-09
						p +38 (067) 370-18-02
			.affiliate__item.affiliate-dubl
				.affiliate__scroll
					.affiliate__content
						h6.affiliate__title
							a(href="#") ООО «РКЦ-Буд»
						p Днепропетровск, пр. Гагарина, 90
						p
							a(href="dnepr@rkc.biz.ua") dnepr@rkc.biz.ua
						p
							a(href="rkcbud.com.ua") rkcbud.com.ua
						p
							a(href="e-cottage.dp.ua") e-cottage.dp.ua
						p +38 (067) 636-76-49
						p +38 (067) 636-83-43
						p +38 (067) 633-60-17
						p +38 (067) 636-83-43
						p +38 (067) 633-60-17
				.affiliate__scroll
					.affiliate__content.affiliate-filial
						.affiliate__heading
							strong ФИЛИАЛЫ
						a(href="#").affiliate__box
							h6.affiliate__title Заблоцкий Андрей
							p Гомель
							p 127-38-20
						a(href="#").affiliate__box
							h6.affiliate__title ИП Войтехович
							p Минск
						a(href="#").affiliate__box
							h6.affiliate__title Заблоцкий Андрей
							p Гомель
							p 127-38-20
						a(href="#").affiliate__box
							h6.affiliate__title ИП Войтехович
							p Минск
			.affiliate__item
				.affiliate__scroll
					.affiliate__content
						h6.affiliate__title
							a(href="#") ООО «А-СТ»
						p Днепр, пр.им.газеты "Правда", 27
						p
							a(href="mailto:st_dnepr@ukr.net") ast_dnepr@ukr.net
						p +38 (056) 373-25-79
						p +38 (056) 373-25-88
						p +38 (056) 373-25-89
			.affiliate__item
				.affiliate__scroll
					.affiliate__header
						img(src="static/img/budiva.jpg", alt="")
					.affiliate__content
						h6.affiliate__title
							a(href="#") ООО «БУДИВА»
						p Днепропетровск, ул. Горького, 22
						p
							a(href="mailto:dnepr@budiva.ua") dnepr@budiva.ua
						p
							a(href="budiva.ua") budiva.ua
						p +38 (056) 790-03-09
						p +38 (067) 370-18-02
			.affiliate__item.affiliate-dubl
				.affiliate__scroll
					.affiliate__content
						h6.affiliate__title
							a(href="#") ООО «РКЦ-Буд»
						p Днепропетровск, пр. Гагарина, 90
						p
							a(href="dnepr@rkc.biz.ua") dnepr@rkc.biz.ua
						p
							a(href="rkcbud.com.ua") rkcbud.com.ua
						p
							a(href="e-cottage.dp.ua") e-cottage.dp.ua
						p +38 (067) 636-76-49
						p +38 (067) 636-83-43
						p +38 (067) 633-60-17
						p +38 (067) 636-83-43
						p +38 (067) 633-60-17
				.affiliate__scroll
					.affiliate__content.affiliate-filial
						.affiliate__heading
							strong ФИЛИАЛЫ
						a(href="#").affiliate__box
							h6.affiliate__title Заблоцкий Андрей
							p Гомель
							p 127-38-20
						a(href="#").affiliate__box
							h6.affiliate__title ИП Войтехович
							p Минск
						a(href="#").affiliate__box
							h6.affiliate__title Заблоцкий Андрей
							p Гомель
							p 127-38-20
						a(href="#").affiliate__box
							h6.affiliate__title ИП Войтехович
							p Минск
			.affiliate__item
				.affiliate__scroll
					.affiliate__content
						h6.affiliate__title
							a(href="#") ООО «А-СТ»
						p Днепр, пр.им.газеты "Правда", 27
						p
							a(href="mailto:st_dnepr@ukr.net") ast_dnepr@ukr.net
						p +38 (056) 373-25-79
						p +38 (056) 373-25-88
						p +38 (056) 373-25-89

	#map