.pack#pack
	.pack__pic
		img(src='static/img/skew.png', alt='изображение').pack__pic_big
		img(src='static/img/pack.png', alt='изображение').pack__pic_min
	.edge
		ul.edge__list
			li.edge__item
				img(src='static/img/edge-01.png', alt='изображение')
				strong многослойность
			li.edge__item
				img(src='static/img/edge-02.png', alt='изображение')
				strong трёхмерный <br> цвет и фактура
			li.edge__item
				img(src='static/img/edge-03.png', alt='изображение')
				strong долговечность
			li.edge__item
				img(src='static/img/edge-04.png', alt='изображение')
				strong на основе <br> базальта
		p.edge__desk Гибкая черепица – это битумный материал, представляющий собой прямоугольные <br> модули (гонты) небольших размеров, с фигурными вырезами по одному краю, которые на <br> кровле укладываются рядами внахлест. Он идеален в качестве покрытия на скатных <br> крышах, как простой, так и сложной конфигурации, вплоть до куполов.