.renov
	.layout
		a(href="/").turn-back
			i.icon-turn-back
			|  Вернуться назад
		section.section.mod_zerro
			h1.section__title Реновация кровли от А до Я
			.renov__pic
				img(src='static/img/renov/01.jpg', alt='изображение')
			.promo
				.layout__inset
					p С течением времени любая кровля теряет свой первозданный вид, и одновременно ухудшаются эксплуатационные характеристики этой части здания. У одних кровельных покрытий разного рода «болезни» начинаются раньше, у других – позже. Необходимость ремонта кровли возникает в силу самых различных причин: продолжительная эксплуатация, негативное воздействие внешней среды, ошибки в устройстве, использование некачественных материалов при монтаже кровли и т.д. Но так или иначе, ремонт кровель – это хотя и неприятная, но неизбежная процедура.
			.layout__inset
				p  Компания ТЕХНОНИКОЛЬ имея большой опыт работы на рынке кровельных материалов, предлагает целый ряд эффективных решений для быстрого и экономичного ремонта и реновации кровли с использованием гибкой черепицы ТЕХНОНИКОЛЬ SHINGLAS. Рекомендуем Вам ознакомится с видео инструкциями по замене старых кровельных покрытий на гибкую черепицу ТЕХНОНИКОЛЬ SHINGLAS.
			article.article
				.layout
					h2.article__title Первый день реновации
					.video
						iframe.video-youtube(width="1280", height="720", src="https://www.youtube.com/embed/V_rm0E9ePjY", frameborder="0")
					.layout__inset
						p Наверняка, вы замечали, что многие дома покрыты мягкой черепицей — то есть кровельным штучным материалом, который придает зданию совершено иной вид: благородный, солидный и эстетически привлекательный.
						p За этим, конечно, кроется работа профессионалов, так как монтаж черепицы, произведенный с учетом рекомендаций производителя, позволит покрытию прослужить долгие годы, надежно защищая здание от воздействия окружающей среды, непогоды и придавая ему аккуратный и презентабельный вид. Укладка черепицы — это задача профессионалов, специалисты-кровельщики справляются с ней на отлично.
						p Ну, а что делать, если возникла необходимость самостоятельно провести работы? В этом случае мы предлагаем вам ознакомиться с нашим руководством о том, как практически проводится монтаж битумной черепицы: обратите внимание и на видеоролик и фото, демонстрирующие непосредственно работу специалистов на объектах любой сложности.

