doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    block title
      title TN_promo
    meta(name="viewport" content="width=1280, minimal-ui" id="testViewport")
    meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
    meta(content="telephone=no", name="format-detection")
    link(rel="icon", href="static/img/favicon.ico", type="image/x-icon")

    link(rel="stylesheet" media="all" href="static/css/jquery.fancybox.min.css")
    link(rel="stylesheet" media="all" href="static/css/aos.css")
    link(rel="stylesheet" media="all" href="static/css/style.css")

    script(src="static/js/lib/jquery.js")
    script(src="static/js/lib/jquery.validate.min.js")
    script(src="static/js/lib/classie.js")
    script(src="static/js/lib/slick.min.js")
    script(src="static/js/lib/jquery.fancybox.min.js")
    script(src="static/js/lib/jquery.mCustomScrollbar.js")
    script(src="static/js/lib/jquery.formatter.min.js")
    script(src="static/js/lib/aos.js")

    script(src="static/js/scroll.js")

    script(src="static/js/init-select.js")
    script(src="static/js/init-validate.js")
    script(src="static/js/init-scroll.js")
    script(src="static/js/init-navSwitcher.js")

    script(src="static/js/common.js")

    //- script(src="static/js/app.min.js") - when finish
  body
    //BEGIN out
    block content
    //END out
    //- script(src="https://maps.googleapis.com/maps/api/js?sensor=false")//
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")

    script(src="static/js/lib/mapster.js")
    script(src="static/js/mapOptions.js")
    script(src="static/js/map.js")
