extends _layout
block content
	.out
		include layout/header.pug
		#maincontent
			section.page#first
				include module/jumbotron.pug
			section.page#second(data-aos="fade-up", data-aos-offset="300", data-aos-duration="600", data-aos-delay="1300")
				include module/material.pug
			section.page#third
				include module/cupon.pug
			section.page#fourth
				include module/landlord.pug
			section.page#fifth
				include module/pack.pug
			section.page#sixth
				include module/assortment.pug
			section.page#seventh
				include module/gallery.pug
			section.page#eighth
				include module/map.pug
			section.page
				include layout/footer.pug
		.nav_scroll
			a(href="#").nav_scroll__btn.nav_scroll__btn_up
				i.icon-up
				span Вверх
			a(href="#").nav_scroll__btn.nav_scroll__btn_down
				i.icon-down
				span Вниз
